body{
  background-image: url(bg.svg);
  background-position: fixed;
  color: blue;
  overflow: hidden;
}

.container {
margin-top: 81px;
margin-bottom: 31px;
display: flex;
flex-wrap: wrap;
align-self: center;
border: 3px solid rgb(219, 75, 19);
height: 80vh;
overflow-y: scroll;
-webkit-overflow-scrolling: auto;
-webkit-overflow-scrolling: touch;
background-color: rgba(68, 100, 100, 0.927);
flex-flow: row wrap;
}


.item-0, .item-1, .item-2, .item-3, .item-4,.item-5,.item-6,.item-7,.item-8,.item-9,.item-10{

float: left;  
border: 3px solid rgb(195, 63, 40);
width: 251px;
height: 50%;
overflow-y: scroll;
-webkit-overflow-scrolling: auto;
-webkit-overflow-scrolling: touch;
color: rgb(14, 13, 12);
background-color: #d9e22a;
background-image: linear-gradient(315deg, #b88128 0%, #35bd1a 74%);
border: 1px solid #ccc;
padding: 10px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-device-width: 585px){
.item-0, .item-1, .item-2, .item-3, .item-4,.item-5,.item-6,.item-7,.item-8,.item-9,.item-10{
  width: 96%;
}
.container {
  margin-top: 91px;
  margin-bottom: 11px;
}
}

.item-10{
  margin-bottom: 31px;
}

.nav{
position: fixed;
background-color: rgb(70, 198, 181);
width: 100vw;
height: 71px;
top: 0px;
right: 0px;
left: 0px;
z-index: 1;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-color: aqua;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  background-image: url(scroll.png);
  background-size: 21px; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

